<form ng-submit='submit()' name="register" class="form-signin" novalidate ng-controller="RegisterCtrl as reg">
  <h1 class="form-signing-heading text-muted">Sign Up</h1>
  <input ng-model="remail" name="remail" type="email" class="form-control" placeholder="Email address" required>
  <p class="help-block" ng-show="register.remail.$dirty && register.remail.$invalid">Please enter a proper email.</p>
  <input name='rpassword' ng-model='rpassword' type="password" class="form-control" placeholder="Password" required>
  <input name="rpassword_confirm" type="password" ng-model="rpassword_confirm" class="form-control" placeholder="Confirm Password" validate-equals="rpassword">
    <p class="help-block" ng-show="register.rpassword_confirm.$dirty && register.rpassword_confirm.$invalid">please match the passwords.</p>

  <button ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">
    Submit
  </button>
</form>
